# Docker Compose Database Connection Variables
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
# Prisma Configuration Variables
# Set this in the terminal as well
# export PRISMA_MANAGEMENT_API_SECRET="__SECRET_KEY_HERE__"
MANAGEMENT_API_SECRET=
PRISMA_ENDPOINT=